<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.usian.android_app_oschina">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" /> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".controller.activity.news_activity.NewsInfoActivity" />
        <activity android:name=".controller.activity.news_activity.SearchActivity" />
        <activity android:name=".controller.activity.news_activity.BlogInfoActivity" />
        <activity android:name=".controller.activity.find_activity.OSSActivity" />
        <activity android:name=".controller.activity.mine_activity.LoginActivity" />
        <activity android:name=".controller.activity.mine_activity.SettingActivity" />
        <activity android:name=".controller.activity.find_activity.QrCodeActivity" />
        <activity android:name=".controller.activity.find_activity.ShakeActivity" />
        <activity android:name=".controller.activity.tweet_activity.TweetUserActivity" />
        <activity android:name=".controller.activity.tweet_activity.TweetInfoActivity" />
        <activity android:name=".controller.activity.find_activity.OffEventActivity"></activity>
    </application>

</manifest>